doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="description", content="Welcome to DEMOCKRACY – a simple project based on politics and politicians.")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
